.layui-card{
	color: #333;
	padding-bottom: 10px;
}
.layui-card-body .section{
	margin-bottom: 20px;
}
.layui-card-body .section .user-img{
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #e6e6e6;
	margin: 0 auto;
}
.layui-card-body .section .user-img img{
	width: 100%;
	height: 100%;
}
#upfile-box{
	position: relative;
	margin: 0 auto;
	width: 140px;
	margin-top: 10px;
	height: 45px;
	overflow: hidden;
}
#upfile-box #upfile{
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	border: 100px solid transparent;
}
#upfile-box:hover .upfile-button{
	background-color: rgb(75, 178, 255);
}
#upfile-box .upfile-button{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(45, 165, 255) url(../images/upload.png) no-repeat;
	background-position: center center;
}