* {
  font: 12px/1.5em "PingFang", tahoma, arial, "Hiragino Sans GB";
}
/*内容开始*/
.main-container .main-left {
  display: none;
}
.main-container .main-right {
  flex-basis: 100%;
  height: 100%;
}
.main-container .main-right form {
  width: 100%;
  height: 75%;
}
.main-container .main-right .top-logo-box {
  width: 100%;
  height: 25%;
}
.main-container .main-right .top-logo-box .logo {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  transform: translateY(-150px);
  display: block;
  font-size: 200px;
  animation: show 1s ease forwards;
}
@keyframes show {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0px);
  }
}
legend {
  color: #555;
  font-size: 22px;
  padding-bottom: 40px !important;
}
input {
  height: 45px;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: 13px !important;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 13px !important;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: 13px !important;
}
.am-btn-secondary {
  width: 70%;
  height: 50px;
  margin-bottom: 15px;
}
/*内容结束*/
