/*顶部开始*/
* {
  font: 14px/1.5em "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}
.header .header-top {
  padding: 0px;
}
.header .header-center .user-logo {
  width: 80px;
  height: 80px;
}
.header .header-bottom > ul li .selected {
  height: 10%;
}
.header .header-top .topLogo {
  margin-top: -100px;
  margin-left: 10px;
  color: #fff;
  width: 180px;
  height: 180px;
}
.header .header-center p:nth-of-type(1) {
  font-size: 20px;
}
.header .header-bottom > ul li a {
  font-size: 18px;
}
.background-box .introduce p:nth-of-type(2) {
  font-size: 18px;
}
.background-box .introduce p:nth-of-type(2) i {
  font-size: 25px;
}
/*顶部结束*/
/*中间内容开始*/
.article .article-left h2 a {
  font-size: 26px;
}
.iconfont {
  font-size: 14px;
}
.article .article-left p:nth-of-type(3) a i {
  font-size: 28px;
}
.background-box {
  width: 80%;
}
.content #getmore {
  width: 80%;
}
/*中间内容结束*/
/*底部开始*/
.footer {
  width: 80%;
}
/*底部结束*/
/*工具部分开始*/
.am-dropdown-up {
  right: 0;
}
.am-dropdown-up .am-btn {
  color: #555555;
}
.am-dropdown-up .am-btn i {
  font-size: 22px;
  color: #555555;
}
.am-dropdown-up .am-dropdown-content {
  width: 200px;
  left: -70% !important;
}
.am-dropdown-up .am-dropdown-content .theme-box {
  width: 100%;
}
.am-dropdown-up .am-dropdown-content .theme-box a {
  font-size: 22px;
}
.am-gotop-default {
  right: 30px;
}
/*工具部分结束*/
